body{
    background-color: #69977a;
    color: #444444;
}

table{
    color: #EEEEEE;
}

.header{
    padding: 20px;
    text-align: center;
    background: #444444;
    color: #CADCD0;/*202 220 208 */
    font-size: large;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    align: center;
    border: 6px solid #69977a;
    overflow: auto;
    z-index: 999999;

}


.menu{
    color: #EEEEEE;
}

li{
    display: inline;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}
